.code-showcase-header {
  display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    height: 40px;
    border-bottom: 1px solid var(--lines);
    color: var(--secondary-gray);
}

.code-showcase {
  width: 55vw;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden; /* 👈 lock horizontal scroll */
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

  
  .code-showcase h2 {
    margin-bottom: 1rem;
    color: var(--secondary-white);
  }
  
  .grid {

    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .code-showcase::-webkit-scrollbar{
    width: 12px;
    
    background-color: var(--slate-950);
    border-radius: 0px;
    border-left: 1px solid var(--lines);
    border-top: 1px solid var(--lines);
    
  }
  .code-showcase::-webkit-scrollbar-thumb{
    background-color: var(--secondary-gray);
    border-radius: 0px;
    background-color: #444;
  }
  