

/* .App{
  border-radius: 10px;
  background-color: var(--default-medium);
  min-height: 100vh;
  
  overflow-y: hidden;
  display:block;
} */

.App {
  border-radius: 10px;
  background-color: var(--slate-900);
  height: calc(100vh - 65px); /* if html has 15px padding top/bottom */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid var(--lines);
}
.main-content {
  flex: 1;
  overflow: hidden;
  min-height: 0; /* VERY important: allows flex child to shrink properly */
}