

/* .App{
  border-radius: 10px;
  background-color: var(--primary-medium);
  min-height: 100vh;
  
  overflow-y: hidden;
  display:block;
} */

.App {
  border-radius: 10px;
  background-color: var(--primary-medium);

  height: calc(100vh - 65px); /* Adjust height based on the 15px padding on each side */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent scrolling */
  margin: 0 auto; /* Center the app */
  border-color: var(--lines);
  border-width: 1px;
  border-style: solid;
}

.main-content {
  flex: 1; /* Pushes footer to bottom */
}