
:root {
  /* 🎨 Color Palette */
  --default-dark: #0a1019;
  --default-medium: #14202b;
  --default-light: #263b50;

  --primary-dark: #01080e;
  --primary-medium: #011627;
  --primary-light: #011221;
  --primary-blue: #3498db;

  --secondary-gray: #607B96;
  --secondary-dark-gray: #293e55;
  --secondary-cyan: #3c9d93;
  --secondary-deep-blue: #4d5bce;
  --secondary-white: #ffffff;
  --secondary-light-gray: #c6c6c6;
  --transparent-white: rgba(255, 255, 255, 0.5);


  --accent-orange: #ff9f56;
  --accent-orange-light: #ffac6b;
  --accent-turquoise: #43d9ad;
  --accent-pink: #e99287;
  --accent-purple: #c98bdf;

  
  --accent-blue: rgb(133 165 196 / var(--tw-text-opacity));

  --tw-text-opacity: 1;

  --lines: #1e2d3d;
  --bright-lines: #85A5C4;
  --bluer-lines: #799ffb;

  --gradient-color-1: #4d5bce;
  --gradient-color-2: #43d9ad;
  --gradient-color-3: #e99287;

  /* 🖋 Typography */
  font-family: 'Hack', monospace;
  font-size: 12px;
  color: var(--secondary-white);

  --button-background: #1c2b3a;
}
/* 
html {
  margin: 15px;
  min-height: 100%;
  overflow:hidden;
} */

html {
  margin: 0;
  padding: 25px;
  min-height: 100%;
  box-sizing: border-box; 
  overflow: hidden;
  background-color: var(--default-dark);
}

