
  
  .snake-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 12px;
    color: #333;
  }
  
  .snake-score {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .snake-board-wrapper {
    padding: 10px;
    border-radius: 12px;
    display: inline-block;
  }
  
  .snake-canvas {
    background-color: var(--primary-medium);
    border-radius: 8px;
    display: block;
    box-shadow: inset 0 2px 8px rgb(0, 0, 0);

  }
  
  .snake-buttons {
    margin-top: 20px;
  }
  
  .snake-button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .snake-button.start {
    background-color: var(--accent-orange);
    color: black;
  }
  
  .snake-button.start:hover {
    background-color: var(--accent-orange-light);
  }
  
  .snake-button.restart {
    background-color: var(--accent-orange);
    color: black;
  }
  
  .snake-button.restart:hover {
    background-color: var(--accent-orange-light);
  }
  