.code-container {
    font-family: 'Fira Code Retina', monospace;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.code-line {
    display: flex;
}

.code-line-number,
.comment-symbol {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    text-align: center;
}

.code-content {
    display: grid;
    grid-template-columns: 20px 20px 1fr;
    column-gap: 8px;
}

.code-grid-row {
    display: contents;
}

.code-text {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
