.contactPage {
    display: flex;
    flex-direction: row;
    height: 100%; /* Make it take all vertical space */
}

.contactHeader{
    border-right: 1px solid var(--lines);
    width: 255px; /* Fixed width for the header */
}

.contactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Grow to fill remaining vertical space */
    height: 100%;
  }

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 500px;
    margin: 0 auto;
  }
  
  .form .input,
  .textArea {
    background-color: var(--slate-950);
    border: 1px solid var(--slate-800);
    color: var(--slate-100);
    padding: 0.75rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    resize: none;
    
  }
  
  .input:focus,
  .textArea:focus {
    outline: 2px solid var(--orange-500);
    border-color: var(--orange-500);
    background-color: var(--slate-925);
  }
  
  .textArea {
    min-height: 120px;
  }
  
  .form-button {
    background-color: var(--orange-500);
    color: var(--slate-50);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .button:hover {
    background-color: var(--orange-600);
  }
  
  .status {
    font-size: 0.875rem;
    color: var(--success-400);
  }