.contacts-dropdown {

  display: flex;
  flex-direction: column;
}
.dropdown-button {
  background: none;
    border: none;
    font-size: 14px;
    padding: 7px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.1s ease, background-color 0.1s ease;
    text-align: left;
    gap: 7px;
    color: var(--accent-blue);
    font-family: 'Fira Code Retina', monospace;
}
.icon-container{
  min-width: 14px;

}

.dropdown-content {
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid var(--lines);
  color: var(--accent-blue);
  font-size: 11px;


}