.professional-component {
    display: flex;
    flex-direction: row;
    border-left: 1px solid var(--lines);
    height: 100%;
}

.info-selection {
    display: flex;
    flex-direction: column;
    width: 185px;
    border-right: 1px solid var(--lines);
}

.professional-button {
    background: none;
    border: none;
    color: var(--secondary-gray);
    font-size: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: color 0.1s ease, background-color 0.1s ease;
    text-align: left;
}

.professional-button:hover {
    color: var(--secondary-white);
}

.professional-button.selected {
    color: var(--secondary-white);
}

.professional-button:nth-child(1) .fa-folder {
    color: var(--gradient-color-1);
}

.professional-button:nth-child(2) .fa-folder {
    color: var(--gradient-color-2); /* Green for Tech-Skills */
}

.professional-button:nth-child(3) .fa-folder {
    color: var(--gradient-color-3); /* Red for Soft-Skills */
}

.info-selection-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    max-height: 30px;
    border-bottom: 1px solid var(--lines);
}

button .icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10px; /* Fixed width for consistency */
    color: var(--secondary-gray);
}

button .icon-container:first-child {
    min-width: 10px; /* Minimum width for the chevron icons */
}

button .icon-container:last-child {
    min-width: 10px; /* Adjust if needed for the folder icon */
}
