.footer {
    border-top: 1px solid var(--lines);
    display: flex;
    align-items: center;
    height: 50px;
    z-index: 11;
}

.footer span{
    padding: 0 20px; 
    color: var(--bright-lines);
    font-size: 16px;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-grow: 1; /* Allows the footer links to take up available space */
    height: 50px;
    
}

.footer-links li {
    display: flex;
    align-items: center;
    min-width: 40px; /* Ensures li expands to fit the anchor */
    justify-content: center; /* Centers the text inside */

    height: 50px;
}

.footer-links a {
    text-decoration: none;
    color: var(--secondary-gray);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px; 
    padding: 0 20px; 
    height: 50px;
}

.footer-links a:hover {
    color: #f0a500;
}

.footer-links li:hover {
    background-color: var(--default-medium);
}

.footer-links li:not(:last-child){
    border-right: 1px solid var(--lines);
    border-left: 1px solid var(--lines);}
.footer-links li:last-child a {
    border-left: 1px solid var(--lines);
}

