.code-card {
    background-color: var(--primary-light);
    border: 1px solid var(--lines);
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 20px;
    color: var(--secondary-white);
    font-family: 'Hack', monospace;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
  }
  
  .code-card-header {
    display: flex;
    
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .code-card-profile {
    display: flex;
  }
  
  .code-card-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .code-card-userinfo {
    display: flex;
    flex-direction: column;
  }
  
  .code-card-username {
    color: var(--secondary-cyan);
    font-weight: bold;
    text-decoration: none;
  }
  
  .code-card-username:hover {
    text-decoration: underline;
  }
  
  .code-card-timestamp {
    font-size: 11px;
    color: var(--transparent-white);
  }
  
  .code-card-snippet {
    background-color: var(--default-medium);
    padding: 12px;
    border-radius: 8px;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 300px;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    
  }
  
  
  .code-card-link {
    color: var(--accent-turquoise);
    text-decoration: none;
    font-size: 12px;
  }
  
  .code-card-link:hover {
    text-decoration: none;
  }
  .code-card-body {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    justify-content: space-between
  }
  
  /* Left column: file selector */
  .code-card-files {
    display: flex;
    flex-direction: column;
  }
  
  /* Individual file buttons */
  .file-button {
    background-color: var(--default-medium);
    border: 1px solid var(--lines);
    color: var(--secondary-white);
    padding: 8px 10px;
    margin-bottom: 8px;
    cursor: pointer;
    text-align: left;
    border-radius: 6px;
    font-size: 12px;
    font-family: 'Hack', monospace;
    transition: background-color 0.2s ease;
    width: 120px;
    font-weight: bold;
  }

 
  .file-button.show-more-button {
    background-color: #f1f1f1;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    max-width: 100px;
  }
  .file-button.show-more-button:hover{

    background-color: #cccccc

  }
  
  
  .file-button:hover {
    background-color: var(--default-dark);
  }
  
  .file-button.active {
    background-color: var(--accent-turquoise);
    color: var(--primary-dark);
    font-weight: bold;
  }
  
  /* Right column: code viewer */
  .code-card-viewer {
    flex: 1;
    max-width: 46vw;
  }

  .code-card-placeholder{
    background-color: var(--default-medium);
    padding: 12px;
    border-radius: 8px;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 300px;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 1.5;
    white-space: pre;
  }

  

  .code-card-snippet {
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 42.5vw;
  }
  
  .code-card-snippet::-webkit-scrollbar {
    width: 12px;
    
    background-color: var(--default-dark);
    border-radius: 0px;
    border-left: 1px solid var(--lines);
    border-top: 1px solid var(--lines);
  }
  
  .code-card-snippet::-webkit-scrollbar-track {
    background: #111;
  }
  
  .code-card-snippet::-webkit-scrollbar-thumb {
    background-color: #444;
    }


    .code-card-repoinfo {
      background-color: var(--default-dark);
      border: 1px solid var(--lines);
      border-radius: 8px;
      padding: 10px 15px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-family: 'Courier New', Courier, monospace;
      font-size: 0.9rem;
      color: var(--secondary-white);
      max-width: 100%;
      word-break: break-word;
    }
    
    .code-card-repoinfo span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    .code-card-repo,
    .code-card-message,
    .code-card-file {
      padding-top: 5px;
      font-size: 0.9rem;
      color: var(--secondary-light-gray);
      display: inline-block;
      width: 100%;
    }
    